#first{
    background-color: #666;
    display: flex;
    justify-content: space-between;
    height: 40px;
   }
   #bath{
  
     display: flex;
     width: 50%;
     margin-left: 40%;
     justify-content: space-between;
    height: 50px;
     margin-top: 30px;
   }
    
   #bath>div{
     
     width: 50%;
     color: red;

   }
   #div{
     width: 100%;
     display: flex;
     justify-content: space-around;
     margin-top: 18px;
   }
   #grand{
  
     display: grid;
     grid-template-columns: repeat(4,1fr);
     
     width: 80%;
     margin: auto;
      
     


   }
   #grand>div{
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
       
      background-color: white;
      width: 80%;
      
      
   }
   #top{
     text-align: center;
      background-color: burlywood; 
      width: 80%;
      margin: auto;
   }
   .cl>img{
     width: 100%;
     height: 150px;
   }
   .cl{
     display: flex;
   }
  #im{
    
     width: 80%;
     margin-left: 150px;
  
  }
 #imm{
  margin-top: 80px;
  
 }
 #picked{
  border: 2px solod red;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 85%;
  margin-left: 150px;
  
 }
 .imageee>img{
  width: 100%;
  
   
 }
 .btnn{
  width: 90%;
  background-color: black;
  color: white;
  height: 45px;
 }
 #imagetag{
  width: 85%;
  margin-top: 50px;
  margin-left: 130px;
 }
 #magic{
   margin-top: 40px;
   margin-left: 420px;
   
  
 }
 #pic{
  
  display: grid;
  grid-template-columns: repeat(6,1fr);
  width: 85%;
  gap: 14px;
  margin: auto;
  margin-top: 50px;
 }
 
 #pic>div>img{
  height: 200px;
 }
 #copy{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  width: 85%;
  gap: 14px;
  margin: auto;
  margin-top: 50px;
   
 }
 #copy>div>img{
  height: 150px;
 }
 #ptag{
  width: 32%;
  margin: auto;
  margin:center ;
 }
 #ptag>p{
  font-size: 55px;
  text-align: center;

 }
 #email{
  
  width: 88%;
  display: flex;
  margin-top: 50px;
  margin: auto;
  justify-content: space-between;

 }

 #icon{

  height: 35px;
  width: 70%;
  display: flex;
  justify-content: space-between;
 }
 #icon>div>a>img {
  width: 100%;
  height: 100%;

 }
 #bot{
  background-color: #f2f2f2;
  width: 100%;
  height:300px ;
 
 }
 #bot>div{
  
  margin: auto;
  width: 85%;
  height: 300px;
 }
 #new {
  width: 75%;
  
 
  margin: auto;
  margin-top: 50px;
 }
 .dii{
  width: 90%;
  margin: auto;
  
 }
 .dii>img {
  width: 100%;
 }
 #signup>img {
  width: 50%;
 }
 #ser{
  display: flex;
 }
